.container{
    .row{
        padding: 1% 1% 1% 1%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
    }
    .row-content{
        padding: 1% 1% 1% 1%;
        width: 50%;
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;
        background-color: rgb(243, 243, 243);
    }
}

.container-fluid{
    display: flex;
    width: 100%;
    top:0;
    position: absolute;
}

form{
    .form-group{
        padding: 1% 1% 1% 1%;
    }
    .button-form{
        padding: 0% 1% 1% 1%;
    }
    input.form-input{
        width: 100%;
        border-style: solid;
        margin-bottom: 1%;
        font-size: x-large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        height: 3cap;
    }
}

.button{
    background-color: #083e08;
    border-radius: 10%;
    border: none;
    width: auto;
    height: 4cap;
    box-sizing: content-box;
    font-weight: bolder;
    font-size:  large;
    color: white;
}
.error{
    color: red;
}

.card{
    margin-left: 2%;
    padding: 1% 1% 1% 1% ;
    width: 50%;
    font-family: sans-serif;
    position: relative;
    border: 1% solid;
    animation: apparition 1s linear;
    .header{
        font-size: x-large;
        text-align: center;
        width: auto;
    }
    .body{
        font-size: medium;
        text-align: center;
        width: auto;
    }
}

.code-true{
    background-image: url("../img/vert.jpg");
    background-size: contain;
    color: rgb(73, 255, 100);  
    font-size: larger;  
    height: auto;
}

.code-false{
    background-image: url("../img/rouge.jpg");
    background-size: contain; 
    color: rgb(216, 63, 63);  
    font-size: larger;  
    height: auto;
}

.code{
    background-image: url("../img/bleu.jpg");
    background-size: cover;
    border-radius: 50%;
    height: 100px;
    font-display: center;
    width: 20%;
    color: aliceblue;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    font-display: center;
}

.resultat{
    margin-top: 8%;
    border-radius: 50px;
    width: 20%;
}

.sardinas-patterson{
    margin-right: 5%;
    margin-left: 5%;
    @extend .resultat
}
.machine-learning{
    margin-left: 5%;   
    margin-right: 10%;
    @extend .resultat
}

h1, h2, h3{
    font-family: sans-serif;
}

@keyframes apparition {
    0%{
        width:5%;
        opacity: 10%;
        color: none;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    100%{

    }
}